NODE_ENV=development
APP_PORT=3000
APP_URL=http://localhost:3000

DATABASE_NAME=url
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_URL=

REDIS_URL=redis://localhost:6379

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
VITE_API_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

CREATE_URL_RATE_LIMIT_WINDOW_MS=60000
CREATE_URL_RATE_LIMIT_MAX=10
