NODE_ENV=development
APP_PORT=3000

DATABASE_NAME=url
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_URL=
REDIS_URL=redis://localhost:6379

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
VITE_BETTER_AUTH_URL=http://localhost:3000

REDIS_URL=
